/* css theme file for filament dashboard */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Instrument Sans';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/instrument-sans.woff2') format('woff2');
    }
}

@layer utilities {
    .text-shadow {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    }
}

@layer components {
    .card {
        @apply bg-white dark:bg-gray-800 shadow overflow-hidden;
    }
}


